<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mini-Project</title>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">E-Learning</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#banner">Homepage</a></li>
					<li><a href="#page">About Us</a></li>
					<li><a href="#featured-content">Tutorials</a></li>
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content">
				<div><img src="../static/images/img01.jpg" width="1000" height="400" alt="" /></div>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div class="post">
			<h2 class="title"><a href="#">Welcome to E-learning </a></h2>
			<div class="entry">
				<p>This is <strong>E-learning</strong>, a platform for practice, competition and improvement for both students and professional software developers that helps them to test and improve their programming skills. We provide tutorials for students to learn and a place where students can compete with each other by earning points.</p>
			</div>
		</div>
	</div>
	<!-- end #page --> 
	<div id="featured-content">
		<div id="column1">
			<h2>Python</h2>
			<p><img src="../static/images/python.png" width="300" height="150" alt="" /></p>
			<p>Python is a widely used high-level, general-purpose, interpreted, dynamic programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java.</p>

		</div>
		<div id="column2">
			<h2>Java</h2>
			<p><img src="../static/images/java_logo2.png" width="300" height="150" alt="" /></p>
			<p>Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible.</p>
		</div>
		<div id="column3">
			<h2>C++</h2>
			<p><img src="../static/images/cpp.png" width="300" height="150" alt="" /></p>
			<p>C++ is a general-purpose programming language. It has imperative, object-oriented and generic programming features, while also providing facilities for low-level memory manipulation.</p>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; E-learing. All rights reserved.</p>
</div>
<!-- end #footer -->
</body>
</html>
