<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Login</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link href="../static/css/signup.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	<div class="form-style-10">
		<h1>Login</h1>
		<form action = "/login" method = "post">
		<div class="inner-wrap">
			<label>Email Address <input type="email" name="email" /></label>
			<label>Password <input type="password" name="pass" /></label>
		</div>
		<div class="button-section">
			<input type="submit" name="Login" value = "Login"/>		
			<span class="privacy-policy"> </span>
		</div>
		</form>
	</div>
</body>
</html>
